/* For webkit browsers */
::-webkit-scrollbar {
    width: 12px;
    /* width of the scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
    background: #333;
    /* color of the track */
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #666;
    /* color of the scroll thumb */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #999;
}